;==========================================================
;
;
;   ██████╗  ██████╗ ██╗  ██╗   ██╗██████╗  █████╗ ██████╗
;   ██╔══██╗██╔═══██╗██║  ╚██╗ ██╔╝██╔══██╗██╔══██╗██╔══██╗
;   ██████╔╝██║   ██║██║   ╚████╔╝ ██████╔╝███████║██████╔╝
;   ██╔═══╝ ██║   ██║██║    ╚██╔╝  ██╔══██╗██╔══██║██╔══██╗
;   ██║     ╚██████╔╝███████╗██║   ██████╔╝██║  ██║██║  ██║
;   ╚═╝      ╚═════╝ ╚══════╝╚═╝   ╚═════╝ ╚═╝  ╚═╝╚═╝  ╚═╝
;
;
;   To learn more about how to configure Polybar
;   go to https://github.com/jaagr/polybar
;
;   The README contains a lot of information
;
;==========================================================

[colors]
background = #cc2e3440
foreground = #81a1c1
background-alt = #dd81a1c1
foreground-alt = #2e3440
primary = #ebcb8b
secondary = #d08770
alert = #bf616a


[bar/mainbar0]
inherit = bar/barbase
modules-left = workspace0
[module/workspace0]
type = custom/script
exec = leftwm-state -w 0 -t $SCRIPTPATH/template.liquid
tail = true

[bar/mainbar1]
inherit = bar/barbase1
modules-left = workspace1
[module/workspace1]
type = custom/script
exec = leftwm-state -w 1 -t $SCRIPTPATH/template.liquid
tail = true

[bar/mainbar2]
inherit = bar/barbase1
modules-left = workspace2
[module/workspace2]
type = custom/script
exec = leftwm-state -w 2 -t $SCRIPTPATH/template.liquid
tail = true

[bar/mainbar3]
inherit = bar/barbase1
modules-left = workspace3
[module/workspace3]
type = custom/script
exec = leftwm-state -w 3 -t $SCRIPTPATH/template.liquid
tail = true


[bar/barbase]
width = ${env:width}
offset-x = ${env:offsetx}
monitor = ${env:monitor}
;offset-y = ${env:y}
;width = 100%
height = 24
fixed-center = false
background = ${colors.background}
foreground = ${colors.foreground}
line-size = 3
line-color = #f00
border-size = 0
border-color = #00000000
locale = fr_CA.UTF-8
padding-left = 0
padding-right = 0
module-margin = 0
font-0 = DaddyTimeMono Nerd Font:style=Regular:size=12:antialias=true:hinting=true;3
font-1 = Font Awesome 5 Free Solid:style=Solid:pixelsize=12;3
font-2 = DaddyTimeMono Nerd Font Mono:style=regular:size=16:antialias=true:hinting=true;3
font-3 = Weather Icons:style=Regular:size=14;3
font-4 = Font Awesome 5 Brands Regular:style=Solid:pixelsize=12;3
modules-center =
modules-right = filesystem lsepgreen cpu temperature system-fan-speed memory lsep81a1c1 network lsepviolet meteo info-airqualityindex lsepgreen pulseaudio lsepyellow date1
tray-position = right
tray-padding = 2
cursor-click = pointer
cursor-scroll = ns-resize

[bar/barbase1]
width = ${env:width}
offset-x = ${env:offsetx}
monitor = ${env:monitor}
;offset-y = ${env:y}
;width = 100%
height = 24
fixed-center = true
background = ${colors.background}
foreground = ${colors.foreground}
line-size = 3
line-color = #f00
border-size = 0
border-color = #00000000
locale = fr_CA.UTF-8
padding-left = 0
padding-right = 0
module-margin-left = 0
module-margin-right = 0
font-0 = DaddyTimeMono Nerd Font:style=Regular:size=12:antialias=true:hinting=true;3
font-1 = Font Awesome 5 Free Solid:style=Solid:pixelsize=12;3
font-2 = DaddyTimeMono Nerd Font Mono:style=regular:size=16:antialias=true:hinting=true;3
font-3 = Weather Icons:style=Regular:size=12;3
font-4 = Font Awesome 5 Brands Regular:style=Solid:pixelsize=12;3
modules-center = 
modules-right = cpu-all lsep81a1c1 updates-apt lsepred pulseaudio lsepyellow date2
tray-position = 
tray-padding = 
cursor-click = pointer
cursor-scroll = ns-resize

[module/leftwmicon]
type = custom/text
content = %{T5}%{T-}

[module/lsep81a1c1]
type = custom/text
content = %{T3}%{F#81a1c1}┃%{F-}%{T-}

[module/lsepred]
type = custom/text
content = %{T3}%{F#bf616a}┃%{F-}%{T-}


[module/lsepgreen]
type = custom/text
content = %{T3}%{F#a3be8c}┃%{F-}%{T-}

[module/lsepviolet]
type = custom/text
content = %{T3}%{F#b48ead}┃%{F-}%{T-}

[module/lsepyellow]
type = custom/text
content = %{T3}%{F#ebcb8b}┃%{F-}%{T-}



[module/rsep]
type = custom/text
content = %{T3}%{F#81a1c1}┃%{F-}%{T-}

[module/ewmh]
type = internal/xworkspaces
label-active = " %icon% %name% "
label-active-foreground = ${colors.foreground-alt}
label-active-background = ${colors.background-alt}
label-active-underline = ${colors.primary}
label-occupied = " %icon% %name% "
label-occupied-underline = ${colors.secondary}
label-urgent = " %icon% %name% "
label-urgent-foreground = ${colors.foreground}
label-urgent-background = ${colors.background}
label-urgent-underline  = ${colors.alert}
label-empty = " %icon% %name% "
label-empty-foreground = ${colors.foreground}


[module/xwindow]
type = internal/xwindow
label = %title:0:30:...%

[module/xkeyboard]
type = internal/xkeyboard
blacklist-0 = num lock

format-prefix = " "
format-prefix-foreground = ${colors.foreground-alt}
format-prefix-underline = ${colors.secondary}

label-layout = %layout%
label-layout-underline = ${colors.secondary}

label-indicator-padding = 2
label-indicator-margin = 1
label-indicator-background = ${colors.secondary}
label-indicator-underline = ${colors.secondary}

[module/filesystem]
type = internal/fs
interval = 25

mount-0 = /home

label-mounted = " %mountpoint%: %used% (%percentage_used%%) "
label-mounted-foreground = #a3be8c
label-mounted-background = ${colors.background}
label-unmounted = %mountpoint% not mounted
label-unmounted-foreground = ${colors.foreground-alt}


[module/mpd]
type = internal/mpd
format-online = " <label-time>   <label-song> <icon-prev> <icon-stop> <toggle> <icon-next>  "
format-offline = " <label-offline>  "

; Only applies if <icon-X> is used
icon-play = 
icon-pause = 
icon-stop = 
icon-prev =  
icon-next = 

; Available tokens:
;   %artist%
;   %album-artist%
;   %album%
;   %date%
;   %title%
; Default: %artist% - %title%
label-song =  %artist% - %title%
label-song-maxlen = 25
label-song-ellipsis = true

label-offline = " mpd is offline"


[module/cpu]
type = internal/cpu
interval = 2
format-prefix = " "
format-prefix-foreground = #81a1c1
;format-underline = #88c0d0
label = "%{T2}%{T-} %percentage-cores:2% "
format-foreground = #81a1c1
format-background = ${colors.background}

[module/cpu-all]
type = internal/cpu
interval = 2
format-prefix = " "
format-prefix-foreground = #81a1c1
;format-underline = #88c0d0
label = "%{T2}%{T-} %percentage%% "
format-foreground = #81a1c1
format-background = ${colors.background}

[module/memory]
type = internal/memory
interval = 2
format-prefix = " "
format-prefix-foreground = #81a1c1
;format-underline = #88c0d0
label = " %{T2}%{T-} %percentage_used%% "
format-foreground = #81a1c1
format-background = ${colors.background}

[module/system-fan-speed]
type = custom/script
exec = ~/.config/leftwm/themes/md-nord/polybar-scripts/system-fan-speed.sh
interval = 10
format-foreground = #81a1c1
format-background = ${colors.background}

[module/wlan]
type = internal/network
interface = wlp3s0
interval = 3.0

format-connected = <ramp-signal> <label-connected>
format-connected-underline = #9f78e1
label-connected = %essid%

format-disconnected =
;format-disconnected = <label-disconnected>
;format-disconnected-underline = ${self.format-connected-underline}
;label-disconnected = %ifname% disconnected
;label-disconnected-foreground = ${colors.foreground-alt}

ramp-signal-0 = 
ramp-signal-1 = 
ramp-signal-2 = 
ramp-signal-3 = 
ramp-signal-4 = 
ramp-signal-foreground = ${colors.foreground-alt}

[module/network]
type = internal/network
interface = enp3s0
interval = 3.0

;format-connected-underline = #a3be8c
label-connected-foreground = #b48ead
label-connected-background = ${colors.background}
;format-connected-prefix = " "
;format-connected-prefix-foreground = ${colors.foreground-alt}
label-connected = " %{T3}%{T-} %downspeed% %{T3}%{T-} %upspeed% "

format-disconnected =
;format-disconnected = <label-disconnected>
;format-disconnected-underline = #bf616a
;label-disconnected = %ifname% disconnected
;label-disconnected-foreground = ${colors.foreground-alt}

[module/date-fr]
type = custom/script
exec = /home/mdupuis/.config/xmobar/getdate_fr.py
; Seconds to sleep between updates
; Default: 5 (0 if `tail = true`)
interval = 1

format = <label>
format-foreground = #5e81ac
format-background = #eceff4
;format-underline = #5e81ac

label = "  %output%  "


[module/date1]
type = internal/date
date = " %%{F#eceff4}%A, %d %b %Y ‒ %k:%M:%%{F#EBCB8B}%S%%{F-} "
date-alt = "  %k:%M  "
format-foreground = #eceff4
format-background = ${colors.background}

;interval = 5
;date =
;date-alt = " %Y-%m-%d"
;time = %H:%M
;time-alt = %H:%M:%S
;format-prefix = 
;format-prefix-foreground = ${colors.foreground-alt}
;format-underline = #0a6cf5
;label = %date% %time%

[module/date2]
type = internal/date
date = "  %k:%M  "
date-alt = " %%{F#eceff4}%A, %d %b %Y ‒ %k:%M:%%{F#ebcb8b}%S%%{F-} "
format-foreground = #eceff4
format-background = ${colors.background}

[module/pulseaudio]
type = internal/pulseaudio

format-volume-foreground = #ebcb8b
format-volume-background = ${colors.background}
format-foreground = #ebcb8b
format-background = ${colors.background}
format-volume = %{T2} <ramp-volume>%{T-}<label-volume>

label-volume-foreground = #ebcb8b
label-volume-background = ${colors.background}
label-volume = " %percentage%% "
;label-volume-foreground = ${root.foreground}

label-muted = " %{T2}婢%{T-} " 
label-muted-foreground = ${colors.alert}
label-muted-background = #ebcb8b

;bar-volume-width = 10
;bar-volume-foreground-0 = #55aa55
;bar-volume-foreground-1 = #55aa55
;bar-volume-foreground-2 = #55aa55
;bar-volume-foreground-3 = #55aa55
;bar-volume-foreground-4 = #55aa55
;bar-volume-foreground-5 = #f5a70a
;bar-volume-foreground-6 = #ff5555
;bar-volume-gradient = false
;bar-volume-indicator = |
;bar-volume-indicator-font = 2
;bar-volume-fill = ─
;bar-volume-fill-font = 2
;bar-volume-empty = ─
;bar-volume-empty-font = 2
;bar-volume-empty-foreground = ${colors.foreground-alt}

; Only applies if <ramp-volume> is used
ramp-volume-0 = 
ramp-volume-1 = 
ramp-volume-2 = 
ramp-volume-foreground = #ebcb8b
ramp-volume-background = ${colors.background}

[module/alsa]
type = internal/alsa

format-volume = <label-volume> <bar-volume>
label-volume = VOL
label-volume-foreground = ${root.foreground}

format-muted-prefix = " "
format-muted-foreground = ${colors.foreground-alt}
label-muted = sound muted

bar-volume-width = 10
bar-volume-foreground-0 = #55aa55
bar-volume-foreground-1 = #55aa55
bar-volume-foreground-2 = #55aa55
bar-volume-foreground-3 = #55aa55
bar-volume-foreground-4 = #55aa55
bar-volume-foreground-5 = #f5a70a
bar-volume-foreground-6 = #ff5555
bar-volume-gradient = false
bar-volume-indicator = |
bar-volume-indicator-font = 2
bar-volume-fill = ─
bar-volume-fill-font = 2
bar-volume-empty = ─
bar-volume-empty-font = 2
bar-volume-empty-foreground = ${colors.foreground-alt}


[module/temperature]
type = internal/temperature
thermal-zone = 2
base-temperature = 55
warn-temperature = 70

format = <ramp> <label>
format-foreground = #81a1c1
format-background = ${colors.background}
;format-underline = #88c0d0

format-warn = <ramp> <label-warn>
format-warn-foreground = ${colors.alert}
format-warn-background = ${colors.background}
;format-warn-underline = ${colors.secondary}

label = " %temperature-c% "
label-warn = " %temperature-c% "
;label-warn-foreground = ${colors.foreground-alt}
;label-warn-background = ${colors.alert}

ramp-0 = 
ramp-1 = 
ramp-2 = 
;ramp-foreground = #81a1c1

[module/meteo]
type = custom/script
exec = ~/.config/leftwm/themes/md-nord/polybar-scripts/openweathermap-fullfeatured.sh
format-foreground = #a3be8c
format-background = ${colors.background}
;format-underline = #5e81ac
label = " %output% "
interval = 600
label-font = 4

[module/info-airqualityindex]
type = custom/script
exec = ~/.config/leftwm/themes/md-nord/polybar-scripts/info-airqualityindex.sh
format-foreground = #a3be8c
format-background = ${colors.background}
;label = " %output% "
interval = 600
label-font = 4


[module/powermenu]
type = custom/menu

expand-right = true

format-spacing = 1

label-open = 
label-open-foreground = ${colors.secondary}
label-close =  cancel
label-close-foreground = ${colors.secondary}
label-separator = |
label-separator-foreground = ${colors.foreground-alt}

menu-0-0 = reboot
menu-0-0-exec = menu-open-1
menu-0-1 = power off
menu-0-1-exec = menu-open-2

menu-1-0 = cancel
menu-1-0-exec = menu-open-0
menu-1-1 = reboot
menu-1-1-exec = sudo reboot

menu-2-0 = power off
menu-2-0-exec = sudo poweroff
menu-2-1 = cancel
menu-2-1-exec = menu-open-0

[module/updates-apt]
type = custom/script
exec = ~/.config/leftwm/themes/md-nord/polybar-scripts/updates-apt.sh
format = <label>
format-foreground = #bf616a
format-background = ${colors.background}
;format-underline = #5e81ac

label = "  %output% "
interval = 600

[settings]
screenchange-reload = true
;compositing-background = xor
;compositing-background = screen
;compositing-foreground = source
;compositing-border = over
;pseudo-transparency = false

;[global/wm]
;margin-top = 5
;margin-bottom = 5

; vim:ft=dosini
